# Dependencies
node_modules/

# Build output
dist/
release/
release-build/
release-out/
out/
data/


# Electron
*.log
*.pid
*.seed
*.pid.lock
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp
*.swo

# Env
.env
.env.local
.env.*.local

# OS
*.tmp
*.temp
.cache/
